.search-bar {
  background-color: #1E213A;
  height: 100%;
  width: 100%;
  padding: 20px 45px;
  color: #E7E7EB;
  &__btn-close-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    div {
      height: 20px;
      width: 20px;
      &:hover {
        cursor: pointer;
        img {
          animation: icon-spin infinite 2s linear;
        }
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__search-input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    input[type=text] {
      height: 50px;
      width: 75%;
      border: 1px solid #E7E7EB;
      background-color: #1E213A;
      // background-image: url('/static/img/icons/search-white-18dp.svg');
      background-repeat: no-repeat;
      background-position: 15px;
      color: #E7E7EB;
      padding: 15px 40px;
      position: relative;
    }
    button {
      height: 50px;
      width: 85px;
      color: #E7E7EB;
      background-color: #3C47E9;
      border: 0;
      &:hover {
        cursor: pointer;
        animation-duration: 3s;
        animation-name: gradient-animation;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate;
      }
    }
  }
  &__search-results {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  &__cities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    padding: 23px 15px;
    margin-bottom: 15px;
    .chevron-right {
      display: none;
    }
    &:hover {
      cursor: pointer;
      border: 1px solid silver;
      .chevron-right {
        display: inline-block;
      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background: #3C47E9;
  }
  50% {
    background:rgb(33, 180, 57);
  }
  100% {
    background: #3C47E9;
  }
}
