.today-weather {
  color: #A09FB1;
  background-color: #1E213A;
  padding: 2.75rem 2.75rem 2rem;
  height: 100%;
  &__btn-search-group {
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    position: relative;
    .today-weather__btn-search {
      position: relative;
      background-color: #6E707A;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px 18px;
      height: 40px;
      width: 160px;
      cursor: pointer;
      &::before {
        content: '';
        height: 95%;
        width: 20px;
        background-color: green;
        color: #E7E7EB;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        border: 1px solid transparent;
        border-radius: 1px;
      }
      &:hover::before {
        z-index: 9;
        animation-duration: 1s;
        animation-name: hover-animation;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
      }
      span {
        color: #E7E7EB;
        line-height: 19px;
        font-size: 1rem;
        font-weight: 500;
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
        height: 100%;
        width: 100%;
      }
    }
    .today-weather__btn-location {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #6E707A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 0 3px;
      width: 40px;
      &:hover {
        cursor: pointer;
        img {
          animation: icon-spin infinite 2s linear;
        }
      }
      img {
        height: 22px;
        width: 22px;
      }
    }
  }
  &__current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    .today-weather__weather-icon {
      padding: 20px 130px;
      img {
        height: 230px;
        width: 200px;
      }
    }
    .today-weather__weather-detail {
      display: flex;
      flex-direction: column;
      .today-weather__weather-temp {
        color: #E7E7EB;
        line-height: 169px;
        font-size: 9rem;
        span {
          color: #A09FB1;
          font-size: 7rem;
        }
      }
      .today-weather__weather-name {
        color: #A09FB1;
        line-height: 42px;
        font-size: 2.25rem;
        font-weight: 600;
        margin-top: 1.5rem;
      }
    }
    .today-weather__weather-location {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 85px;
      .today-weather__date-group {
        display: flex;
        justify-content: space-between;
        .today-weather__today {
          color: #88869D;
          line-height: 21px;
          font-size: 1rem;
          font-weight: 500;
          margin-right: 2rem;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 2px;
            background-color: #A09FB1;
            top: 50%;
            left: 100%;
            border: 1px solid #A09FB1;
            border-radius: 30px;
            transform: translateX(16px);
          }
        }
        .today-weather__full-date {
          color: #88869D;
          line-height: 21px;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
      .today-weather__city {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 22px;
        .today-weather__city-icon {
          img {
            height: 20px;
            width: 20px;
          }
        }
        .today-weather__city-name {
          color: #88869D;
          line-height: 21px;
          font-size: 1.15rem;
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes hover-animation {
  0% {
    left: 0;
  }
  50% {
    left: 90%;
  }
  100% {
    left: -2%;
  }
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
